<header class="banner">
        <div class="menu menu__hero">
            <div class="linework linework__menu linework__menu--white">
                {{> "menu"}}
            </div>
        </div>
    <section class="banner__container">
        <a class="banner__logo" href="/">
            <img class="banner__logo-image" src="{{@blog.logo}}" alt="{{@blog.title}}" />
        </a>
        <nav class="navigation">
            <a class="navigation__link" href="/">All</a>
            <a class="navigation__link" href="/tag/discoveries/">Discoveries</a>
            <a class="navigation__link" href="/tag/travel-tales/">Travel Tales</a>
            <a class="navigation__link" href="/tag/tips-tricks/">Tips &amp; Tricks</a>
            <a class="navigation__link" href="/tag/our-backpack/">Our Backpack</a>
            <a class="navigation__link" href="/tag/discoverer-spotlight/">Discoverer Spotlight</a>
        </nav>
    </section>
</header>