<footer class="footer">
    <div class="footer__container">
        <div class="footer__column">
            <h3 class="footer__title">
                Recent Articles
            </h3>
            <ul class="footer__list">
                {{#get "posts"}}
                    {{#foreach posts limit="3"}}
                        <li class="footer__item footer__item--article">
                            <a class="footer__text footer__link" href="{{url}}">
                                {{title}}
                                {{!-- <div class="footer__thumbnail" style="background-image: url({{feature_image}}); background-size: cover;"></div> --}}
                            </a>
                        </li>
                    {{/foreach}}
                {{/get}}
            </ul>
        </div>
        {{!-- <div class="footer__column">
            <h5 class="footer__title">
                Life Less Wasteful
            </h5>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__text footer__link" href="/tag/discoveries">
                        Discoveries
                    </a>
                </li>
            </ul>
        </div> --}}
        <div class="footer__column">
            <h3 class="footer__title">
                <a href="https://www.instagram.com/life.less.wasteful/" target="_blank">
                    Instagram
                </a>
            </h3>
            <div class="footer__instagram">
                <div class="instagram">
                    <div class="instagram__container">Loading Posts...</div>
                </div>
            </div>
        </div>
    </div>
</footer>