<footer class="footer">
    <div class="footer__container">
        <div class="footer__column">
            <h3 class="footer__title">
                About Me
            </h3>
            <div class="footer__about">
                <img class="footer__about-image" src="http://res.cloudinary.com/lifelesswasteful/image/upload/c_scale,w_150/v1523932167/IMG_4089.jpg" alt="Photo of author Skylar Denney">
                <p class="footer__about-text">
                    Hiya! I’m Skylar, a recent convert to the zero waste lifestyle. I’m documenting my journey to live a more conscious life that’s better for the planet and the people on it. Stick around if you’re looking to commiserate on the sometimes tricky, but mostly awesome world of zero waste.
                </p>
            </div>
        </div>
        <div class="footer__column">
            <h3 class="footer__title">
                <a href="https://www.instagram.com/life.less.wasteful/" target="_blank">
                    Life Less Wasteful Instagram
                </a>
            </h3>
            <div class="footer__instagram">
                <div class="instagram">
                    <div class="instagram__container">Loading Posts...</div>
                </div>
            </div>
        </div>
    </div>
</footer>