<div class="menu__window-container" aria-hidden="true">
    <div class="menu__window">
        <div class="menu__header">
            <div class="menu__header-content">
                <div class="linework linework__menu menu__header-linework">
                </div>
                <div class="menu__header-logo">
                    <a href="/">
                        <img class="menu__logo-image" src="{{asset "images/logo-black.png"}}" alt="The Discoverer Logo" />
                    </a>
                </div>
            </div>
        </div>
        <div class="menu__nav-primary">
            <a href="/" class="menu__nav-primary-link">
                Home
            </a>
            <a href="https://thediscoverer.com/story" class="menu__nav-primary-link">
                Our Story
            </a>
            <a href="https://thediscoverer.com/destinations" class="menu__nav-primary-link">
                Upcoming Destinations
            </a>
            <a href="https://thediscoverer.com/editions" class="menu__nav-primary-link">
                Previous Editions
            </a>
            <a href="https://blog.thediscoverer.com" class="menu__nav-primary-link">
                Blog
            </a>
        </div>
        <hr class="menu__divider" />
        <div class="menu__nav-secondary">
            <a href="https://thediscoverer.com/testimonials" class="menu__nav-secondary-link">
                Testimonials
            </a>
            <a href="https://thediscoverer.com/dmca" class="menu__nav-secondary-link">
                DMCA
            </a>
            <a href="https://thediscoverer.com/privacy" class="menu__nav-secondary-link">
                Privacy Policy
            </a>
            <a href="https://thediscoverer.com/numbers" class="menu__nav-secondary-link">
                Advertise with Us
            </a>
            <a href="https://thediscoverer.com/contact" class="menu__nav-secondary-link">
                Contact Us
            </a>
        </div>
    </div>
</div>