<div class="modal">
    <div class="modal__outer">
        <div class="modal__content-email">
            <div class="modal__close-button">
                <div class="modal__close-x"></div>
            </div>
            <h2 class="modal__title-email">
                Welcome to The Discoverer!
            </h2>
            <p class="modal__description-email">
                We are so excited to fill your inbox with discoveries
                from around the world! You can expect your first edition
                to arrive on Monday. Until then, feel free to check out
                our <a href="http://thediscoverer.com/editions" class="modal__link">previous editions.</a>
            </p>
        </div>
    </div>
</div>