// Test element backgrounds
$test-bg-color: rgba(255,0,0,.5);

// Global font families
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Playfair Display', serif;

// Global accent colors
$color-primary: #2d2123;
$color-secondary: #c6b1b3;
$color-tertiary: #e6ddde;

// Forms
$form-input-color: rgba(255,255,255,0.29);

// Gutter/spacing
$padding-desktop: 30px;
$padding-mobile: 20px;
$container: 1000px;
$container-wide: 1260px;

// Animations
$transition-ease: all .3s ease-in-out;
$transition-bezier: all .3s cubic-bezier(0.25, 0.1, 0.36, 2.24);

// Images
$padding-gallery: 6px;