.button {
  font-size: 0.7rem;
  padding: 0 50px 3px;
  width: 100%;
  height: 45px;
  letter-spacing: 3px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  transition: $transition-ease;
  border: none;
  z-index: 1;
  cursor: pointer;

  &:active {
      transform: translateY(1px);
      transition: $transition-ease;
      cursor: pointer;
  }
  
  &:focus {
      outline: 0;
      cursor: pointer;
  }

  &__solid {
      color: white;
      //   background-color: lighten($color-primary, 45%);
      background-color: $color-secondary;
      
      &:hover {
        color: $color-secondary;
          background-color: white;
      }
  }
}


