.container {
  padding: 0 $gutter-spacing-mobile 0 $gutter-spacing-mobile;
  
  @include atLarge {
    margin: 0 auto 0 auto;
    max-width: $container-1200;
    
    &--1400 {
      max-width: $container-1400;
    }
  }
  
  @include atXLarge {
    padding: 0;
  }
}