.footer {

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__column {
    flex: 1 1 100%;
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 0;
    }
    
    @include atCustom(800px) {
      margin-bottom: 0;
      flex: 1 1 50%;
    }
  }

  &__list {

  }

  &__item {
    line-height: 24px;
    margin: 0 20px 8px 0;
  }

  &__title {
    margin: 0 0 15px 0;
  }

  &__about {
    display: flex;

  }

  &__about-image {
    width: 65px;
    height: 65px;
    opacity: 1;
    object-fit: cover;
    object-position: 10% top;
    border-radius: 200px;
  }

  &__about-text {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.8;
    margin: -7px 0 0 20px;
    
    @include atSmall {
      font-weight: 300;
      margin: -7px 12% 0 25px;
      max-width: 360px;
    }
  }
}