.header {
  
  &__logo {
    color: white;
    padding: 12vmin 0 3vmin;
    text-align: center;
    
    @include atSmall {
      padding: 8vmin 0 3vmin;
    }
    
    @include atLarge {
      padding: 58px 0 25px;
    }
  }

  &__tagline {
    color: white;
    // color: lighten($color-primary, 40%);
    font-size: 0.7rem;
    letter-spacing: 2px;
    line-height: 1.3rem;
    font-weight: 400;
    padding: 0 0 5vmin;
    max-width: 260px;
    text-align: center;
    
    @include atSmall {
      font-weight: 300;
      padding: 0 0 5vmin;
      max-width: 425px;
    }
    
    @include atLarge {
      padding: 0 0 40px;
    }
  }
}