.home {

  img {
    opacity: 0.95;
    filter: grayscale(10%);
    transition: $transition-ease;

    &:hover {
      opacity: 1;
      filter: grayscale(0%);
    }
  }
  
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  &__main {
    background-color: $color-tertiary;
    padding: 45px $padding-mobile 0 $padding-mobile;
    overflow: hidden;
    
    @include atSmall {
      padding: 50px $padding-desktop 0 $padding-desktop;
    }
    
    @include atMedium {
      padding: 60px 0 0 0;
    }
  }

  &__link {
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-align: center;
    width: 100%;
  }

  &__button {
    
    @include atSmall {
      width: 230px;
    }
  }
  
  &__featured {
    text-align: center;
    margin-bottom: 50px;
    
    @include atMedium {
      padding: 0 $padding-desktop 0 $padding-desktop;
    }
    
    @include atLarge {
      padding: 0;
    }
  }

  &__featured-title {
    margin: 25px 0 35px;
  }

  &__featured-image-container {
  }
  
  &__featured-image {
    margin: 0 0 30px 0;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    min-height: 50vmin;
    max-height: 50vmin;
    
    @include atMedium {
      margin: 0 0 45px 0;
    }
  }
  
  &__featured-button {
    margin: 0 0 50px 0;
    
    @include atSmall {
      width: 250px;
    }
  }

  &__blocks {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    
    @include atSmall {
      // flex-wrap: nowrap;
    }
  }

  &__block {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 35px;
    background-color: transparent;
    position: relative;
    pointer-events: auto;
    
    @include atMedium {
      flex: 1 1 50%;
      box-shadow: 1px 1px 0px lighten($color-primary, 78%);
      padding: 60px;

      &:nth-of-type(odd) {
        border-top: 1px solid $color-secondary;
        border-right: 1px solid $color-secondary;
      }
      
      &:nth-of-type(even) {
        border-top: 1px solid $color-secondary;
      }
      
      &:last-of-type, &:nth-last-of-type(2) {
        // border-bottom: 1px solid $color-secondary;
      }

      &::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-top: 1px solid lighten($color-primary, 78%);
        pointer-events: none;
      }
    }

    @include atLarge {
      
    }
  }

  &__block-date {
    margin: 0 0 9px 0;
  }

  &__block-title {
    margin: 0 0 20px 0;
    text-align: center;
    
    @include atMedium {
      max-height: 34px;
      width: 325px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    
    @include atLarge {
      max-height: 34px;
      width: 450px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__block-image-container {
    margin: 0 0 30px 0;
  }

  &__block-image {
    object-fit: cover;
    width: 100%;
    height: 50vmin;
    
    @include atMedium {
      height: 23vw;
    }
    
    @include atLarge {
      height: 300px;
    }
  }

  &__footer {
    background-color: white;
    padding: 45px $padding-mobile 45px $padding-mobile;
    overflow: hidden;
    
    @include atSmall {
      padding: 50px $padding-desktop 80px $padding-desktop;
    }
    
    @include atMedium {
      padding: 60px 60px 100px;
    }
  }
}