.home {

  img {
    box-shadow: 1px 1px 0px #f1ebec;
    opacity: 0.97;
    transition: $transition-ease;

    &:hover {
      opacity: 1;
    }
  }
  
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  &__main {
    background-color: $color-tertiary;
    padding: 45px $padding-mobile 0 $padding-mobile;
    overflow: hidden;
    
    @include atSmall {
      padding: 50px $padding-desktop 0 $padding-desktop;
    }
    
    @include atMedium {
      padding: 60px 0 0 0;
    }
  }

  &__link {
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-align: center;
    width: 100%;
  }

  &__text {
    margin: 0 auto 30px auto;
    max-width: 500px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__button {
    
    @include atSmall {
      width: 230px;
    }
  }
  
  &__featured {
    text-align: center;
    margin-bottom: 60px;
    
    @include atMedium {
      padding: 0 $padding-desktop 0 $padding-desktop;
    }
    
    @include atLarge {
      padding: 0;
    }
  }

  &__featured-title {
    margin: 25px 0 35px;
  }

  &__featured-image-container {
  }
  
  &__featured-image {
    margin: 0 0 30px 0;
    object-fit: cover;
    object-position: center top;
    width: 100%;
  }

  &__featured-text {
    font-size: 1rem;
    line-height: 26px;

    @include atSmall {
      max-width: 600px;
      font-size: 1.2rem;
      line-height: 32px;
    }
  }
  
  &__featured-button {
    margin: 0 0 50px 0;
    
    @include atSmall {
      width: 250px;
    }
  }

  &__blocks {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
  }

  &__block {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: transparent;
    position: relative;
    pointer-events: auto;

    @include atMedium {
      flex: 1 1 50%;
      box-shadow: 1px 1px 0px lighten($color-primary, 78%);
      padding: 60px;

      &:nth-of-type(odd) {
        border-top: 1px solid $color-secondary;
        border-right: 1px solid $color-secondary;
      }
      
      &:nth-of-type(even) {
        border-top: 1px solid $color-secondary;
      }
      
      &:last-of-type, &:nth-last-of-type(2) {
        // border-bottom: 1px solid $color-secondary;
      }

      &::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-top: 1px solid lighten($color-primary, 78%);
        pointer-events: none;
      }
    }

    @include atLarge {
      
    }
  }

  &__block-date {
    margin: 0 0 9px 0;
  }

  &__block-title {
    margin: 0 0 20px 0;
    text-align: center;
    
    @include atMedium {
      max-height: 34px;
      width: 325px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    
    @include atLarge {
      max-height: 34px;
      width: 450px;
    }
  }

  &__block-image-container {
    margin: 0 0 23px 0;
  }

  &__block-image {
    object-fit: cover;
    object-position: center top;
    width: 100%;
    height: 50vmin;
    
    @include atMedium {
      height: 23vw;
    }
    
    @include atLarge {
      height: 300px;
    }
  }

  &__footer {
    background-color: white;
    padding: 60px $padding-mobile 60px $padding-mobile;
    overflow: hidden;
    
    @include atSmall {
      padding: 80px $padding-desktop 80px $padding-desktop;
    }
    
    @include atMedium {
      padding: 80px 60px 100px;
    }
  }
}