.post {

  &__main {
    background-color: $color-tertiary;
    padding: 40px $padding-mobile 45px $padding-mobile;
    overflow: hidden;
    
    @include atSmall {
      padding: 50px $padding-desktop 50px $padding-desktop;
    }
    
    @include atLarge {
      padding: 60px 0 60px 0;
    }
  }

  &__footer {
    background-color: white;
    padding: 45px $padding-mobile 45px $padding-mobile;
    overflow: hidden;
    
    @include atSmall {
      padding: 50px $padding-desktop 80px $padding-desktop;
    }
    
    @include atMedium {
      padding: 60px 0 80px;
    }
  }

  &__module {
    width: 100%;
    background-color: #F7F7F7;
    padding: 15px 20px 15px 20px;
    margin-bottom: 30px;
    
    @include atMedium {
      padding: 15px 20px 15px 20px;
    }
  }

  &__module-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include atMedium {
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }

  &__module-thumbnail {
    padding: 0 0 10px 0;
    
    @include atMedium {
      padding: 0 23px 0 0;
    }
  }

  &__module-thumbnail--fix-top {
    margin-bottom: auto;
  }

  &__module-thumbnail-image {
    margin: 0;
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    border-radius: 100px;
    object-position: 50%;
    object-fit: cover;
    transition: $transition-ease;

    &:hover {
      opacity: 0.75;
    }
  }

  &__module-content {
    flex: 1 1 auto;
    text-align: left;
    color: #444444;
    padding: 0 0 20px 0;
    
    @include atMedium {
      padding: 15px 0 15px 0;
    }
    
    &:hover ~ .post__module-thumbnail {
      opacity: 0.75;
    }
  }

  &__module-content--no-padding {
    padding: 0 0 0 0;
    
    @include atMedium {
      padding: 0 0 0 0;
    }
  }

  &__module-link {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }

  &__module-title {
    font-size: 1rem;
    line-height: 29px;
  }

  &__module-text {
    font-size: 0.87rem;
    line-height: 24px;
    padding: 8px 0 15px 0;
  }

  &__module--bold {
    font-weight: 600;
  }

  &__module-social {
    min-width: 100px;
    max-width: 100px;
  }

  &__module-social--l-padding {
    
    @include atMedium {
      margin: 0 0 0 23px;
    }
  }

  &__module-social--padding {
    margin: 5px 0 25px 0;
  }

  &__module-subscribe {
    flex: 1 1 386px;
    margin: 10px 0 5px 0;
    
    @include atMedium {
      flex: 0 0 386px;
      margin: 0 0 0 0;
    }
  }

  &__module-form {
    width: 100%;
    display: flex;
  }

  &__module-input {
    width: 100%;
    height: 44px;
    padding: 0 20px;
    font-size: 0.81rem;
    line-height: 24px;
    border: 1px solid #DDDDDD;
    margin-right: -1px;
    
    &::placeholder {
      color: #AAAAAA;
      font-size: 0.81rem;
      line-height: 24px;
    }
  }

  &__module-input--bot-fakeout {
    display: none;
    visibility: hidden;
  }

  &__module-button {
    outline: 0;
    padding: 0 0;
    height: 44px;
    width: 52px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    transition: $transition-ease;
    border: none;
    z-index: 1;
    background-color: $color-primary;
    color: white;
    text-align: center;

    &:hover, &:active {
      cursor: pointer;
      background: darken($color-primary, 2%);
    }
  }

  &__module-button-icon {
    width: 22px;
    height: 22px;
    margin: 2px 0 0 0 !important;
  }

  &__content {
    
    .kg-card-markdown > p:nth-child(1)::first-letter {
      // font-family: $font-secondary;
      // font-size: 4.06rem;
      // float: left;
      // line-height: 56px;
      // margin-right: 8px;
      // text-transform: uppercase;
      // color: #444;
    }

    p {
      padding-bottom: 25px;
      width: 100%;
      font-weight: 400;
      
      @include atSmall {
        padding-bottom: 35px;
      }
    }
    
    li, p, a, code, em, i {
      font-size: 1.1rem;
      line-height: 30px;
      color: lighten($color-primary, 10%);
      font-weight: 400;
      
      @include atSmall {
        font-size: 1.25rem;
        color: $color-primary;
        line-height: 36px;
        font-weight: 300;
      }
    }
    
    strong, b {
      font-weight: 400;
    }
    
    a {
      position: relative;
      white-space: pre;

      &:hover::after {
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        content: '';
        height: 2px;
        width: 100%;
        border-bottom: 2px solid white;
        
        @include atSmall {
          height: 1px;
          border-bottom: 1px solid white;
        }
      }

      &::before {
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        content: '';
        height: 2px;
        width: 100%;
        border-bottom: 2px solid $color-secondary;
        
        @include atSmall {
          height: 1px;
          border-bottom: 1px solid $color-secondary;
        }
      }

      &::after {
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        content: '';
        height: 2px;
        width: 0%;
        border-bottom: 2px solid white;
        transition: width 0.5s ease-in-out;
        
        @include atSmall {
          height: 1px;
          border-bottom: 1px solid white;
        }
      }
    }
    
    pre, ul, ol {
      width: 100%;
      padding-bottom: 25px;
      
      @include atSmall {
        padding-bottom: 35px;
      }
    }
    
    ol {
      padding-left: 35px;
      list-style-type: none;
      
      & li {
        padding-bottom: 5px;
        counter-increment: step-counter;
        position: relative;
      }

      & li::before {
        padding-bottom: 5px;
        content: counter(step-counter);
        font-size: 1.6rem; 
        position: absolute;
        font-weight: 300;
        left: -28px;
        bottom: 1px;
      }
    }
    
    ul {
      padding-left: 19px;
      list-style: inside;

      & li {
        padding-bottom: 5px;
      }
    }
    
    code {
      display: inline;
      color: #454545;
      padding-right: 6px;
      padding-left: 6px;
      background-color: $color-secondary;
      border-radius: 3px;
    }
    
    h1, h2 {
      width: 100%;
    }
    
    h1 {
      font-size: 1.9rem;
      line-height: 42px;
      padding-bottom: 20px;
      
      @include atSmall {
        padding-bottom: 30px;
        font-size: 2.2rem;
        line-height: 54px;
      }
    }
    
    h2 {
      font-size: 1.7rem;
      line-height: 40px;
      padding-bottom: 15px;
      
      @include atSmall {
        padding-bottom: 25px;
        font-size: 1.9rem;
        line-height: 42px;
      }
    }

    h3 {
      // padding-top: 30px;
      font-size: 1rem;
      font-weight: 400;
      width: 100%;
      text-align: left;
      padding-bottom: 20px;
    }
    
    strong {
      font-weight: 700;
      
      @include atSmall {
        font-weight: 400;
      }
    }

    img {

    }
    
    img[src*="#gallery"] + br {
      display: none;
    }
    
    img[src*="#gallery"] {
      margin-top: 0;
      margin-bottom: 0;
      
      @include atMedium {
        margin-top: 30px;
        margin-bottom: 30px;
        float: left;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }

    img[src$="#gallery-2"] {
      
      @include atMedium {
        min-height: 250px;
        max-height: 250px;
        width: 50%;
        
        &:nth-of-type(1) {
          padding-right: $padding-gallery;
        }
        
        &:nth-of-type(2) {
          padding-left: $padding-gallery;
        }
      }
    }
    
    img[src$="#gallery-3"] {
      
      @include atMedium {
        min-height: 180px;
        max-height: 180px;
        width: 33.33%;
        
        &:nth-of-type(1) {
          padding-right: $padding-gallery;
        }
        
        &:nth-of-type(2) {
          padding-left: $padding-gallery;
          padding-right: $padding-gallery;
        }
        
        &:nth-of-type(3) {
          padding-left: $padding-gallery;
        }
      }
    }

    img[src$="#gallery-4"] {
      
      @include atMedium {
        min-height: 250px;
        max-height: 250px;
        width: 50%;
        
        &:nth-of-type(1) {
          margin-bottom: 0;
          padding-right: $padding-gallery;
          padding-bottom: $padding-gallery;
        }
        
        &:nth-of-type(2) {
          margin-bottom: 0;
          padding-left: $padding-gallery;
          padding-bottom: $padding-gallery;
        }
        
        &:nth-of-type(3) {
          margin-top: 0;
          padding-right: $padding-gallery;
          padding-top: $padding-gallery;
        }
        
        &:nth-of-type(4) {
          margin-top: 0;
          padding-left: $padding-gallery;
          padding-top: $padding-gallery;
        }
      }
    }

    img[src$="#gallery-6"] {
      
      @include atMedium {
        min-height: 200px;
        max-height: 200px;
        width: 33.33%;
        
        &:nth-of-type(1) {
          margin-bottom: 0;
          padding-right: $padding-gallery;
          padding-bottom: $padding-gallery;
        }
        
        &:nth-of-type(2) {
          margin-bottom: 0;
          padding-left: $padding-gallery;
          padding-right: $padding-gallery;
          padding-bottom: $padding-gallery;
        }
        
        &:nth-of-type(3) {
          margin-bottom: 0;
          padding-left: $padding-gallery;
          padding-bottom: $padding-gallery;
        }
        
        &:nth-of-type(4) {
          margin-top: 0;
          padding-right: $padding-gallery;
          padding-top: $padding-gallery;
        }
        
        &:nth-of-type(5) {
          margin-top: 0;
          padding-left: $padding-gallery;
          padding-right: $padding-gallery;
          padding-top: $padding-gallery;
        }
        
        &:nth-of-type(6) {
          margin-top: 0;
          padding-left: $padding-gallery;
          padding-top: $padding-gallery;
        }
      }
    }
    
    img[src*="#overflow"] {
      @include atMedium {
        margin-top: 60px;
        margin-bottom: 60px;
        
        max-width: none;
        width: 100vw;
        object-fit: cover;
        max-height: 50vh;
      }
    }
    
    img[src$="#overflow-left"] {
      @include atMedium {
        margin-left: calc(800px - 100vw);
      }
    }
    
    img[src$="#overflow-right"] {
      @include atMedium {
        margin-right: calc(800px - 100vw);
      }
    }
  }

  &__header {
    padding: 0 0 24px 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  &__date {
    margin: 0 0 25px 0;
    min-width: 100px;
    width: 100%;
    
    @include atMedium {
      margin: 0 25px 0 0;
      width: auto;
    }
  }
  
  &__categories {
    flex: 1;

    @include atMedium {
      width: auto;
    }
  }

  &__category {
    display: inline-block;
    font-size: 0.75rem;
    color: #BBB;
    line-height: 24px;
    border-radius: 20px;
    border: 0.8px solid rgba(234,234,234,0.79);
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.04);
    padding: 0 12px;
    margin: 0 8px 9px 0;
    transition: $transition-ease;
    
    &:hover {
      color: #888;
      box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.1);
      transform: translateY(-1px);
    }

    &:active {
      transform: translateY(1px);
    }
  }
}