// Base styles
@import 'base/variables';
@import 'base/mixins';
@import 'base/global';

// Module styles
@import 'modules/button';
@import 'modules/container';
@import 'modules/footer';
@import 'modules/header';
@import 'modules/home';
@import 'modules/instagram';
@import 'modules/logo';
@import 'modules/stripe';
@import 'modules/wrapper';